@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,700");
html,
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0 0 0 1rem; }

a {
  text-decoration: none; }

ul ul {
  margin: 0 0 0 1em; }

ul ul ul {
  margin: 0 0 0 2em; }

body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

.colorBgGreyLight {
  background-color: #fbfbfb; }

.colorBgGreyPlus {
  background-color: #dddddd; }

.hcTxtColorGreyMid {
  color: #999999; }

.hcBasicSideMargin {
  padding-left: 2rem;
  padding-right: 2rem; }

.hcBasicPading {
  padding: 1rem; }

.hcMarginBottom1 {
  margin-bottom: 1rem; }

.hcMarginBottom2 {
  margin-bottom: 2rem; }

.hcMarginBottom3 {
  margin-bottom: 3rem; }

.hcMarginBottom5 {
  margin-bottom: 5rem; }

.hcMarginBottom15 {
  margin-bottom: 15rem; }

.hcMarginTop1 {
  margin-top: 1rem; }

.hcMarginTop2 {
  margin-top: 2rem; }

.hcMarginTop3 {
  margin-top: 3rem; }

.hcMarginTop5 {
  margin-top: 5rem; }

.hcMarginBackground {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.hcAlignHorizontal {
  display: flex;
  flex-direction: row; }

.hcAlignVertical {
  display: flex;
  flex-direction: column; }

.hcAlignLeft {
  display: flex;
  justify-content: flex-start; }

.hcAlignRight {
  display: flex;
  justify-content: flex-end; }

.hcAlignVertical.alignRight {
  display: flex;
  align-items: flex-end; }

.hcAlignCenter {
  display: flex;
  justify-content: center; }

.hcAlignVertical.alignCenter {
  display: flex;
  align-items: center; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  font-style: normal;
  color: #3e3e3e; }

h1 {
  font-size: 1.5em;
  line-height: 130%;
  font-weight: 700; }

h2 {
  font-size: 1.3em;
  line-height: 130%;
  font-weight: 700; }

h3 {
  font-size: 1em;
  line-height: 130%;
  font-weight: 700; }

h4 {
  font-size: .85em;
  line-height: 130%;
  font-weight: 300;
  font-style: italic; }

@media (min-width: 600px) {
  body {
    font-size: 18px;
    line-height: 150%; }
  h1 {
    font-size: 1.5em; }
  h1, h2, h3, h4 {
    line-height: 150%; } }

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .3em; }

p {
  margin-top: 0;
  margin-bottom: 1em; }

strong {
  font-weight: 700; }

.hcSmallTxt {
  font-size: .85rem; }

.hcMonospace {
  font-family: monospace; }

.itemBlock {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .itemBlock h2 {
    text-align: center;
    width: 100%;
    display: block; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background-color: black;
  color: white; }

.header a {
  color: white; }

.headerMid img {
  width: 100px;
  height: auto; }

.headerLeft, .headerMid, .headerRight {
  text-align: center; }

.top-navigation {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.top-navigation a {
  text-decoration: none;
  margin-left: 1rem; }

@media (min-width: 800px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .headerMid img {
    width: 100px;
    height: auto; }
  .headerLeft, .headerRight {
    width: calc(50% - 50px); }
  .top-navigation {
    text-align: right;
    justify-content: flex-end;
    padding-right: 3rem; } }

.splitScreen {
  width: 100vw;
  display: flex;
  flex-direction: column; }

.splitScreenLeft {
  display: none; }

.splitScreenRight {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.splitScreenContent {
  max-width: 450px; }

@media (min-width: 800px) {
  .splitScreen {
    min-height: 66vh;
    width: 100vw;
    display: flex;
    flex-direction: row; }
  .splitScreenLeft {
    display: flex;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-right: 1px solid #fff; }
  .splitScreenRight {
    width: 50%; } }

.homepageItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.homepageItems > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.homeItemText, .homeItemImg {
  padding-right: 1rem; }

.homeItemText {
  padding-top: 1rem; }

.homepageItems > *:nth-child(even) .homeItemText {
  order: 2; }

.homepageItems > *:nth-child(even) .homeItemImg {
  order: 1; }

.itemDivider {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 2rem 0; }

@media (min-width: 600px) {
  .itemDivider {
    display: flex;
    flex-direction: row; } }

.partners {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem; }

.partners img {
  width: 125px;
  height: auto; }

.partnerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 125px;
  margin: 0 .5rem .5rem 0;
  padding: 1rem;
  background-color: #fff; }

.bgLightGrey {
  background-color: #f0f0f0;
  width: 100%; }

.posts {
  display: flex;
  flex-direction: column; }

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }

.post a {
  color: #3e3e3e; }

@media (min-width: 800px) {
  .post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }

.thumbnail {
  width: 100px;
  height: auto; }
