.outputList {
    border-top: 1px solid #dfdfdf;
    margin: 0 0 0 0;
    padding: .5rem 0 0 0;


  li {
    list-style: none;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 0 .5rem 0;
    padding-bottom: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    margin-bottom: 0;
  }
}

.partnerLogoSmall {
  height: 50px;
  width: auto;
}
