@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,700");
html,
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0 0 0 1.2rem; }

a {
  text-decoration: none; }

ul ul {
  margin: 0 0 0 1em; }

ul ul ul {
  margin: 0 0 0 2em; }

.site {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tempBlockPage {
  max-width: 1100px;
  padding: 0 1.5rem; }

.tempBlockText {
  max-width: 650px;
  padding: 0 1.5rem; }

.tempItemAlignHor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

body {
  background-color: #fff;
  color: #3e3e3e; }

a {
  color: #0087d4; }

.colorBgGrey {
  background-color: #f6f6f6; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  font-style: normal;
  color: #3e3e3e; }

h1 {
  font-size: 1.5em;
  line-height: 130%;
  font-weight: 700; }

h2 {
  font-size: 1.3em;
  line-height: 130%;
  font-weight: 700; }

h3 {
  font-size: 1em;
  line-height: 130%;
  font-weight: 700; }

h4 {
  font-size: 1em;
  line-height: 130%;
  font-weight: 300;
  font-style: italic; }

@media (min-width: 600px) {
  body {
    font-size: 18px;
    line-height: 150%; }
  h1 {
    font-size: 2em; }
  h1, h2, h3, h4 {
    line-height: 150%; } }

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .3em; }

p {
  margin-top: 0;
  margin-bottom: 1em; }

strong {
  font-weight: 700; }

.basicSideMargin {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.alignHorizontal {
  display: flex;
  flex-direction: row; }

.alignVertical {
  display: flex;
  flex-direction: column; }

.alignLeft {
  display: flex;
  justify-content: flex-start; }

.alignRight {
  display: flex;
  justify-content: flex-end; }

.alignVertical.alignRight {
  display: flex;
  align-items: flex-end; }

.alignCenter {
  display: flex;
  justify-content: center; }

.alignVertical.alignCenter {
  display: flex;
  align-items: center; }

.blockCenter {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fullHeight {
  min-height: 100vh; }

.blockText {
  max-width: 650px;
  width: 100%; }

.blockSite {
  max-width: 1200px;
  width: 100%; }

@media (min-width: 1300px) {
  .blockText {
    max-width: 750px; }
  .blockSite {
    max-width: 1400px; } }

.blockScroll {
  min-height: 100vh;
  overflow-y: auto; }

.blockScroll:hover {
  overflow-y: scroll; }

.headSpace {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

@media (min-width: 500px) {
  .headSpace {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; } }

.navigation a {
  color: #3e3e3e;
  font-weight: 700;
  font-size: 14px;
  padding: .2rem;
  margin-right: .5rem; }

.navigation .navigation-sub > * {
  font-weight: 300; }

.navigation li {
  list-style: none; }

.navigation .navigation-secundairy-items {
  display: none; }

.layoutBasicMainAside, .layoutBasicMainFixedAside {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.layoutAside {
  width: 100%; }

.layoutMain {
  width: 100%; }

@media (min-width: 800px) {
  .layoutBasicMainAside {
    flex-direction: row; }
  .layoutAside {
    width: 250px; }
  .layoutMain {
    width: calc(100vw - 250px);
    min-width: calc(800px - 250px); } }

@media (min-width: 800px) {
  .layoutBasicMainFixedAside {
    flex-direction: row;
    justify-content: flex-end; }
    .layoutBasicMainFixedAside .layoutAside {
      width: 250px;
      position: fixed !important;
      top: 0;
      left: 0;
      bottom: 0; }
    .layoutBasicMainFixedAside .layoutMain {
      width: calc(100vw - 250px);
      margin-left: 250px; } }

.brandName {
  font-weight: 700; }

.brandName img {
  height: 50px;
  width: auto !important; }
