@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");
h2 {
  margin-top: 6rem; }

article h2:first-of-type {
  margin-top: 0rem; }

code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: #000;
  background-color: #f1f7d3;
  border-radius: 3px;
  font-size: 14px;
  padding: .2rem .4rem; }

.utillBlock {
  border-bottom: 1px solid #ede8e8;
  padding: 0 0 5em 0;
  margin: 0 0 5em 0; }

.sub {
  font-weight: 300 !important; }
