{{> html-head}}
<link rel="stylesheet" href="css/temp.css">

<div class="hcContentContainer bgColorBrand1">
  <header class="hcPageHeaderSimple">
    <div class="">Project Name Long</div>
    <div class="">
      <nav>
        <a href="#">About</a>
        <a href="#">Edition</a>
        <button>More #</button>
        <a href="#" class="secundair">Extra about</a>
        <a href="#" class="secundair">Extra edition</a>
        <a href="#" class="secundair">Extra About</a>
        <a href="#" class="secundair">Extra aEdition</a>
      </nav>
    </div>
  </header>
</div>

<div class="hcContentContainer">
    <div class="hcBlockText">
        <h2>Summary</h2>
        <p>Here's a summery of all the above</p>
    </div>
</div>


{{> html-footer}}
