{{> html-head}}

<div class="site">
  <header class="blockSite headSpace basicSideMargin">
    <div class="brandName">Monarchy in Turmoil</div>
    <div class="navigation">
      <nav class="alignRight">
        {{> temp-nav}}
      </nav>
      <nav>
        {{> temp-nav-sub}}
      </nav>
    </div>

  </header>


  <main class="blockText basicSideMargin">
    <h1>Monarchy in Turmoil</h1>
    {{> temp-content}}

    <div class="alignHorizontal alignLeft" style="width:300px; background-color:#b9f4dc; margin: 0 0 3em 0">
      <span>item1</span>
      <span>item2</span>
      <span>item3</span>
      <span>item4</span>
      <span>item5</span>
    </div>

    <div class="alignVertical alignLeft" style="width:300px; background-color:#b9f4dc; margin: 0 0 3em 0">
      <span>item1</span>
      <span>item2</span>
      <span>item3</span>
      <span>item4</span>
      <span>item5</span>
    </div>

    <div class="alignHorizontal alignRight" style="width:300px; background-color:#b9f4dc; margin: 0 0 3em 0">
      <span>item1</span>
      <span>item2</span>
      <span>item3</span>
      <span>item4</span>
      <span>item5</span>
    </div>

    <div class="alignVertical alignRight" style="width:300px; background-color:#b9f4dc; margin: 0 0 3em 0">
      <span>item1</span>
      <span>item2</span>
      <span>item3</span>
      <span>item4</span>
      <span>item5</span>
    </div>

    <div class="alignHorizontal alignCenter" style="width:300px; background-color:#b9f4dc; margin: 0 0 3em 0">
      <span>item1</span>
      <span>item2</span>
      <span>item3</span>
      <span>item4</span>
      <span>item5</span>
    </div>

    <div class="alignVertical alignCenter" style="width:300px; background-color:#b9f4dc; margin: 0 0 3em 0">
      <span>item1</span>
      <span>item2</span>
      <span>item3</span>
      <span>item4</span>
      <span>item5</span>
    </div>



  </main>
</div>


{{> html-footer}}
