$asideWith: 250px;

.layoutBasicMainAside {
  display: flex;
  flex-direction: column;
}


aside {
  width: 100%;
}

main {
  width: 100%;
}



@media (min-width: 800px) {
  .layoutBasicMainAside {
    flex-direction: row;
  }


  aside {
    width: $asideWith;
    background-color: #cee9bb;
  }

  main {
    width: calc(100vw - #{$asideWith});
    background-color: #cee9bb;
  }
}
