$asideWith: 250px;
$asideWithLarge: 450px;

.layoutBasicMainAside, .layoutBasicMainFixedAside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.layoutAside {
  width: 100%;
}

.layoutMain {
  width: 100%;
}

@media (min-width: 800px) {
  .layoutBasicMainAside {
    flex-direction: row;
  }

  .layoutAside {
    width: $asideWith;
  }

  .layoutMain {
    width: calc(100vw - #{$asideWith});
    min-width: calc(800px - #{$asideWith});
  }
}

//////////////////

@media (min-width: 800px) {
  .layoutBasicMainFixedAside {
    flex-direction: row;
    justify-content: flex-end;

    .layoutAside {
      width: $asideWith;
      position: fixed !important;
      top: 0;
      left: 0;
      bottom: 0;
    }

    .layoutMain {
      width: calc(100vw - #{$asideWith});
      margin-left: $asideWith;
    }

  }
}
