
.branding-logo img{
  width: 75px;
  height: auto;
  margin-top: 2em;
}

@media (min-width: 800px) {
  .branding-logo img{
    width: 100px;
    margin-top: 0em;
  }
}


.hamburger {
  display: block;

}

.huc-top-navigation {
  display: none;
}

.top-navigation li{
  display: inline-block;
  list-style: none;
  margin: 0 0 0 0;
}

.top-navigation li a{
  margin: 0 1em 0 0;
}


.huc-page-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
}

.huc-subnav {
  margin: 1em 0 1em 0;

}


.huc-content {

}

.huc-bar-page {
  display: none;
}

.tags {
  display: none;
}

.huc-bar-gradient-grid{
  width: 100%;
  height: 100%;
}


@media (min-width: 500px) {
  .huc-page {
    display: flex;
    width: calc(100vw - #{$hucBarWidth}) ;
  }
}

.huc-subnav li {
  list-style: none;
  margin: 0 1em 0em 0;
  display: inline-block;
  font-size: .8em;
  color: $colorGreyMid;
}
.huc-subnav a {
  color: $colorGreyMid;
}


@media (min-width: 500px) {

  .huc-header{
    height: 14em;
    margin-top: 2em;
    flex-direction: row;
  }

  .huc-logo img{
    width: 100px;
    height: auto;
  }


  .top-navigation li{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0;
  }
  .top-navigation li a{
    //margin: 0 0 0 1em;
  }


  .huc-page-body {
    display: flex;
    flex-direction: row;
  }

  .huc-subnav {
    margin: 1em 0 2em 0;
  }


  .huc-subnav li {
    display: block;
    font-size: 1em;
    color: $colorTxt;
    margin: 0 1em .5em 0;
  }

  .huc-bar-page {
    display: flex;
  }

  .tags {
    display: flex;
  }

  .huc-basic-col2 > *{
    width: calc(100% - 11rem);
    max-width: calc(100% - 11rem);
  }

  .hamburger {
    width: 150px;
  }
}






// markup
.top-navigation li:nth-child(-n+4) {
  font-weight: 700;
}


nav a {
  color: $colorTxt;
}



.huc-subnav a {
  margin: 0 0 0 0;
}





.huc-bar-page {
  position: fixed;
  top:0px;
  right: 0px;
  bottom: 0px;
  width: $hucBarWidth;
  flex-direction: row;
}

.footer {


}



.current-page-ancestor a, .current-menu-item a{
  border-bottom: 1px solid #{$colorGreyMid};
}

@media (min-width: 800px) {
  .current-page-ancestor a, .current-menu-item a{
    border-bottom: 2px solid #{$colorTxt};
  }
}


.tag {
  background-color: $colorSecundairy;
  font-size: .75em;
  padding: .1em .3em;
  border-radius: 2px;
}

.tag a{
  color: $colorTxt;
}


// cards



.card-label {
  width: 3em;
  display: inline-block;
  color: $colorGreyMid;
}
.item-extra {
  font-size: .9rem;
  line-height: 150%;
}


.card a {
  color: $colorTxt;
}





.connectedItems {
  display: flex;
  flex-direction: column;
}

.updateItems{
  display: flex;
  flex-direction: row;
  color: $colorGreyMid;
}
.update-item {
  width: calc(33% - 1em;);
  margin-right: 1em;
}

.connectPartners {
  flex-direction: row;
  align-items: center;

}

.connectPartners img {
  width: 100px;
  height: auto;
  margin-right: 1em;
}


.huc-content h2 {
  margin-top: 2em;
}

.MailChimp {
  margin: 0 -.7em;
}


// Homepage

.bar-home{

}

.huc-home-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.huc-home-item {

}

.huc-home-item-first {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media (min-width: 1000px) {
  .huc-top-navigation {
    display: flex;
  }

  .huc-subnav {
    display: block;
  }

  .huc-home-item {
    min-height: 60vh;
  }

  .huc-home-item-first {
    min-height: 95vh;
  }
  .hamburger {
    display: none;
  }

  .huc-basic-col2 > *{
    width: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
  }
}



.huc-home-hero-text {
  margin: 2em 0 3em 0;
  height: calc(70vh - 9em);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.huc-home-tags {
  margin: 2em 0;
}



.huc-home-content .huc-home-content-inner{

  padding: 0 1.5em;
}



.homepage .huc-basic-col2 {

}

.homepage .huc-bar-gradient {
  width: 100%;
  max-width: 100%;
  height: 50vh;
  margin-left: -1.5rem;

}

.homepage .huc-top-navigation {
  display: none;
}


@media (min-width: 1000px) {
  .homepage .huc-basic-col2 {
    width: calc(66% - #{$hucBarWidthHalf});
  }

  .homepage .huc-bar-gradient {
    width: calc(66vw - #{$hucBarWidthHalf});
    max-width: calc(66vw - #{$hucBarWidthHalf});
    position: fixed;
    height: 100vh;
    left: 34vw;
    margin-left: 0;
  }

  .homepage .huc-top-navigation {
    display: flex;
  }


}

@media (min-width: 1300px) {
  .homepage .huc-basic-col2 {
    width: calc(50% - #{$hucBarWidthHalf});
  }


  .homepage .huc-bar-gradient {
    width: calc(50vw - #{$hucBarWidthHalf});
    max-width: calc(50vw - #{$hucBarWidthHalf});
    position: fixed;
    height: 100vh;
    left: 50vw;
  }


}



.huc-bar-home .huc-bar-brown{
  width: $hucBarWidthHalf ;
}

.huc-bar-home {
  width: $hucBarWidthHalf ;
}


.huc-top-navigation, .huc-content {
  margin-left: 1.5em;
}

.icon img{
  height: 1rem;
  width: auto;

}

.huc-content img{
  width: 100%;
  height: auto;
}

.dot-grid-bg {
  background-color: rgba(#2810be, 0.22);
}


@media (min-width: 800px) {
  .content-cards {
    padding: 3rem 0;
  }
}

.institute-logo {
  width: 50px;
  height: auto;
  margin-top: .5rem;
}

.avatar {
  width: 100%;
  display: flex;

}

.avatar img{
  border-radius: 50%;
  height: 100px;
  width: auto;
  margin: -2em 0 1em 0;
}

.col {
  width: 100%;
  margin: 0 0 #{$basicPadding} 0em;
}

@media (min-width: 800px) {
  .col {
    width: calc(32% - #{($basicPadding * 2)/3});
    margin: 0 #{$basicPadding} #{$basicPadding} 0;
  }
}

.withImg img{
  width: 150px;
  height: auto;
}

.illuImg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.illuImg img{
  width: 50px;
  height: 50px;
  margin-bottom: 1em;
}
