.huc-layout-basic-page {
  display: flex;
  flex-direction: column;
}

.huc-layout-basic-page >*{
  width: 100%;
  margin-bottom: 2em;
  padding-left: 1rem;
}


@media (min-width: 500px) {
  .huc-layout-basic-page >*{
    width: calc(100% - #{$barWidthDouble});
  }
}


@media (min-width: 800px) {
  .huc-layout-basic-page {
    display: -ms-grid;
    -ms-grid-columns: auto 33% calc(66% - #{$barWidthDouble}) auto #{$barWidth} #{$barWidth};
    -ms-grid-rows:  30vh auto auto auto auto;

    display: grid;
    grid-template-columns:  auto minmax(150px, 400px) minmax(550px, 600px) auto  #{$barWidth} #{$barWidth};
    grid-template-rows:  30vh auto auto auto auto;
  }

  .huc-layout-basic-page >*{
    width: 100%;
    margin-bottom: 0;
  }

}

.branding-logo {
  -ms-grid-column: 2;
  -ms-grid-row: 1;

  grid-column: 2;
  grid-row: 1/1;
  background-color: #fff;
}



.navigation-top {
  -ms-grid-column: 3;
  -ms-grid-row: 1;

  grid-column: 3;
  grid-row: 1/1;
}


.navigation-sub {
  -ms-grid-column: 2;
  -ms-grid-row: 2;

  grid-column: 2;
  grid-row: 2/2;
}


.content-main {
  padding-right: 1em;
  -ms-grid-column: 3;
  -ms-grid-row: 2;

  grid-column: 3;
  grid-row: 2/2;
}

@media (min-width: 800px) {
  .content-main {
    padding-bottom: 3rem;
  }
}

.content-cards {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
  -ms-grid-column-span: 2;

  grid-column: 2/4;
  grid-row: 3;
}

.cards-bg {
  display: none;
}
@media (min-width: 800px) {
  .cards-bg {
    display: flex;
      -ms-grid-column: 1;
      -ms-grid-row: 3;
      -ms-grid-column-span: 7;

      grid-column: 1/7;
      grid-row: 3;

      transform: rotate(1deg);
      z-index: -1;
      margin: 0 -100px;
  }
}



@media (min-width: 500px) {
  .bar-gr {
    position: fixed;
    width: $barWidth;
    right: $barWidth;
    top: 0;
    bottom: 0;
  }

  .bar-br{
    position: fixed;
    width: $barWidth;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
  }
}


.footer-bg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;

  grid-column: 1/5;
  grid-row: 5/6;
  background-color: #eeeeee;

  margin-top: 5em;
}

.footer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;

  grid-column: 2/4;
  grid-row: 5/6;
  padding: 2em;
  margin-top: 5em;
}

////////
