// Site wrap

  .siteWrap {
    max-width: $wrapSite;
    padding: 0 $basicPadding;
    margin-left: auto;
    margin-right: auto;

  }

  .textWrap {
    max-width: $wrapText;
    padding: 0 $basicPadding;
    margin-left: auto;
    margin-right: auto;
    box-sizing:content-box;

  }
  .siteWrap .textWrap {
    max-width: $wrapText;
    box-sizing: border-box;
    padding: 0;
  }





// Items in layout
.itemSpread {
  display: flex;
  justify-content: space-between;
}


// Margins

.margin{
  margin-bottom: 3em;
}

.margin-top{
  margin-top: 5em;
}

// basic navigation

nav a {
  margin-left: 1em;
}

// other
.branding-logo{
  position: relative;
}
