<div class="footer-bg">&nbsp;</div>

<footer class="footer">
  <div class="content-cards card-grid">
    <div class="col"><strong>KNAW <br>Humanities Cluster (HuC) </strong><br>
      Oudezijds Achterburgwal 185<br>
      1012 DK Amsterdam<br>
      +31 20 224 68 00<br>
      <a href="mailto:info@huc.knaw.nl">info@huc.knaw.nl</a></div>
    <div class="col"><a href="https://twitter.com/knawhuc" target="_blank">Follow us on Twitter</a></div>
    <div class="col"><a href="/mailinglist">Mailinglist</a></div>
  </div>
</footer>
