<p>De nieuwe iPhone die in 2019 verschijnt zou een dunner en goedkoper oled-scherm van Samsung krijgen.</p>

<p>Dat vertellen bronnen aan <a href="http://www.etnews.com/20181212000230" target="_blank"><em>ETNews</em></a>. De nieuwe iPhone-schermen moeten Y-Octa-technologie gebruiken, waarbij het aanraakpaneel en het beeldscherm in &#233;&#233;n onderdeel zitten.</p>

<p>Het scherm is dunner omdat de componenten in &#233;&#233;n beeldscherm zijn ge&#239;ntegreerd. Dat kan ervoor zorgen dat de nieuwe iPhone dunner wordt dan de huidige iPhone XS en XR.</p>

<p>Daarnaast zou het Y-Octa-scherm goedkoper zijn dan het huidige aanraakpaneel en beeldscherm die worden gebruikt. Of dit zal doorvertalen in een lagere prijs voor de nieuwe iPhone, is nog niet duidelijk.</p>

<h3>Samsung-schermen in iPhones</h3>
<p>Samsung levert ook de schermen die in huidige iPhones worden gebruikt. Apple zou op termijn minder afhankelijk van de concurrent willen worden, door ook schermen van andere fabrikanten af te nemen.&#160;</p>

<p>De nieuwe iPhone zou ook een modem ontworpen door Apple zelf bevatten, aldus bronnen van <a href="https://www.theinformation.com/articles/apple-developing-modem-as-chip-efforts-expand" target="_blank"><em>The Information</em></a>. Apple ontwierp eerder al de processorchips die in de iPhone worden gebruikt.</p>
