// Alignments and directions

.alignHorizontal {
  display: flex;
  flex-direction: row;
}

.alignVertical {
  display: flex;
  flex-direction: column;
}

.alignLeft {
  display: flex;
  justify-content: flex-start;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
}

.alignVertical.alignRight {
  display: flex;
  align-items: flex-end;
}


.alignCenter {
  display: flex;
  justify-content: center;
}




.alignVertical.alignCenter {
  display: flex;
  align-items: center;
}

.blockCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullHeight {
  min-height: 100vh;
}
