// Colors
$colorPrimairy: #03dbe8;
$colorSecundairy:#ddf279;     //#fff568;
$colorTertiary: #56504b;
$colorLink: #0087d4;

$colorGreyVeryLight: #fbfbfb;
$colorGreyLight: #fafafa;
$colorGreyMid: #999999;
$colorGreyDark: #3e3e3e;
$colorTxt: #3e3e3e;
$colorWhite: #fff;


$colorHuygensBlueDark:#082045;
$colorHuygensBlueLight:#66abcf;
$colorHuygensDYellow:#f9d567;
$colorHuygensOrange:#d06f5d;
$colorHuygensGreen:#64a264;
$colorHuygensGreyLight:#efefef;
$colorHuygensGreyMid:#d0d8d9;
$colorHuygensBlueDarkText:#00153c;


// Grey
$greyLight: rgb(246, 246, 246);
$greyheavy: rgb(246, 246, 246);

body {
	background-color: $colorWhite;
	color: $colorTxt;
}

a {
	color: $colorLink;
}

.colorBgGrey {
  background-color: $greyLight;
}
