//primers
$hiGreen: #269075;
$hisYellow: #f7d366;
$hisBlue: #3da4ac;
$MonBrown: #e3c386;
$clearBlue: #0087d4;

//Greys



//functional colors
$colorPrimairy: $hiGreen;
$colorSecundairy: $clearBlue;

$colorLink: $clearBlue;
$colorLink: $hiGreen;
$colorGreyLight: $hiGreen;
$colorGreyMid: $hiGreen;
$colorGreyDark: $hiGreen;
