html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

ul, ol {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0 0 0 1.2rem;
}

a {
	text-decoration:none;
}

ul ul {
	margin: 0 0 0 1em;
}

ul ul ul{
	margin: 0 0 0 2em;
}
