// main site
.site {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// component width
.tempBlockPage {
  max-width: 1100px;
  padding: 0 1.5rem;
}

// component width
.tempBlockText {
  max-width: 650px;
  padding: 0 1.5rem;
}


.tempItemAlignHor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
