$colorPrimairy: #03dbe8;
$colorSecundairy:#ddf279;     //#fff568;
$colorTertiary: #56504b;
$colorLink: #0087d4;
$colorGreyLight: #fafafa;
$colorGreyMid: #999999;
$colorGreyDark: #3e3e3e;
$colorTxt: #3e3e3e;

$basicPadding: 1.5em;
$wrapSite: 1100px;
$wrapText: 600px;

$hucBarWidth: 8em;
$subnavWidth: $wrapSite - $wrapText;
$hucBarWidthHalf: $hucBarWidth / 2;

$barWidth: 4em;
$barWidthDouble: $barWidth * 2;

$radius: 4px;
