@import 'normalise';
@import 'color';
@import 'var';
@import 'margin';
@import 'alignments';
@import 'typo';
@import 'layout';


@import 'components/basic-navigation';
@import 'components/splitScreen';
@import 'components/homepage-items';
@import 'components/output';
@import 'components/partners';
@import 'components/elaborate';
@import 'posts';

.tag {
  font-style: italic;
}

.tag::before {
  content: "#";
}


.footer {
  padding: 3rem 0;
}
