@import 'normalise';
@import 'color';
@import 'var';
@import 'margin';
@import 'alignments';
@import 'typo';
@import 'layout';


@import 'components/basic-navigation';
@import 'components/splitScreen';
@import 'components/homepage-items';
@import 'components/output';
@import 'components/staff';
@import 'components/partners';
@import 'components/elaborate';
@import 'posts';

.tag {
  font-style: italic;
}

.tag::before {
  content: "#";
}


.footer {
  padding: 3rem 0 6rem 0;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(187, 218, 233)
}

.footer div{
  width: 900px;
}



.footer iframe {
  height: 600px !important;
  overflow: auto;
}

.footernav {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cards >* {
  width: calc(50% - 1rem);
  margin: 0 1rem 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}


.smallGrey {
  font-size: .9rem;
  color: #6f6f6f;
}


// SM
.twitterIcon {
  width: 1.3rem;
  height: auto;
  margin-right: .5rem;
}
