nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

nav a {
  font-weight: 700;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

nav a:hover {
  background-color:rgba(255, 255, 255, 0.11);
}

nav a:first-child {
  margin-left: -1rem;
}

.hcMenuButton {
  border: none;
  background: none;
  font-size: .9rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

.hcMenuButton img{
  width: .7rem;
  height: .7rem;
  margin-left: .5rem;

}

.hcPageHeaderSimple {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .9rem;
  height: 100px;
}

.hcPageHeaderSimple >* {
  height: 100%;
  display: flex;
  align-items: center;
}

.hcSecundairNav {
  display: none;
}

@media (min-width: 600px) {
  .hcPageHeaderSimple {
    flex-direction: row;
  }
  .hcSecundairNav {
    display: flex;
  }
  .hcMenuButton {
    display: none;
  }

}


.hcBrand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  justify-content: flex-start;
}

.hcBrandLogo img {
  height: 33px;
  width: auto;
}

.hcBrandName {
  padding-left: 1rem;
}

@media (min-width: 600px) {
  .hcBrandLogo img {
    height: 60px;
    width: auto;
  }
}


.hcFullscreenMenu {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-size: 1.5rem !important;
  align-items: flex-start;
  justify-content: flex-start;

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 50vh;
  }
  nav a{
    padding: 0 0rem;
  }



  #hcMenuButton {
    position: fixed;
    top: 30px;
    right: 30px;
  }

  .hcSecundairNav {
    display: flex;
  }

  nav a:first-child {
    margin-left: 0rem;
  }

  .hcBrand {
    margin-left: 0rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .hcPageHeaderSimple{
    flex-direction: column;

  }
}







// <div class="hcContentContainer bgColorBrand1 " id="hcMenu">
//   <header class="hcPageHeaderSimple hcBasicSideMargin">
//     <div class="hcBrand">
//       <div class="hcBrandLogo"><img src="images/logo-huygens-white.png" alt=""></div>
//       <div class="hcBrandName">Project Name Long</div>
//     </div>
//
//       <nav>
//         <a href="#">About</a>
//         <a href="#">Edition</a>
//         <button class="hcMenuButton" id="hcMenuButton">More <img src="images/icons/menu-inv.svg"></button>
//         <a href="#" class="hcSecundairNav">Introduction</a>
//         <a href="#" class="hcSecundairNav">Team</a>
//         <a href="#" class="hcSecundairNav">Colophon</a>
//       </nav>
//
//   </header>
// </div>


// hc2columns

.hc2columns {
  display: flex;
  flex-direction: column;
}

.hc2columns > * {
  flex-basis: 100%;
}


@media (min-width: 600px) {
  .hc2columns {
    flex-direction: row;
  }

  .hc2columns > * {
    flex-basis: 50%;
  }
}


.elablogo {
  width: 250px !important;
  height: auto;
  margin-top: 1rem
}
